[data-agnosticon-code] {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
}

[data-agnosticon-code]:before {
  display: inline-block;
  content: attr(data-agnosticon-code);
}
